.blog-item {
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
}

.blog-item:hover {
    transform: translateY(-5px);
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 50%;
}

@media (max-width: 640px) {
    .blog-item {
        width: 90%;
        /* کاهش عرض برای موبایل */
    }
}