#faq-section h2 {
    color: var(--primary-navy-blue);
}

.faq-item button {
    box-shadow: teal 3px 3px;
}

.faq-item button:hover {
    background-color: var(--secondary-soft-green);
    color: var(--primary-navy-blue);
}

.faq-answer {
    opacity: 0;
    transform: scaleY(0);
    transform-origin: top;
    transition: all 0.3s ease;
}

.faq-answer.show {
    opacity: 1;
    transform: scaleY(1);
}