/* BYekan */
@font-face {
    font-family: 'BYekan';
    src: url('../webfonts/BYekan.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'BYekan';
    src: url('../webfonts/BYekanBold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

/* Shabnam */
@font-face {
    font-family: 'Shabnam';
    src: url('../webfonts/Shabnam.woff2') format('woff2'),
        url('../webfonts/Shabnam.woff') format('woff'),
        url('../webfonts/Shabnam.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Shabnam';
    src: url('../webfonts/Shabnam-Bold.woff2') format('woff2'),
        url('../webfonts/Shabnam-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

/* Vazir */
@font-face {
    font-family: 'Vazir';
    src: url('../webfonts/Vazir.woff2') format('woff2'),
        url('../webfonts/Vazir.woff') format('woff'),
        url('../webfonts/Vazir.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

h1,
h2,
h3,
.nav-link {
    font-family: 'BYekan', sans-serif;
    font-weight: bold;
}

p {
    font-family: 'Shabnam', sans-serif;
    font-weight: normal;
}

a {
    font-family: 'Vazir', sans-serif;
    font-weight: medium;
    text-decoration: none;
    color: #0056b3;
}

button {
    font-family: 'BYekan', sans-serif;
    font-weight: bold;
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
}