/*  فونت فارسی */

@font-face {
    font-family: 'BYekan';
    src: url('../webfonts/BYekan/BYekan.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'BYekan';
    src: url('../webfonts/BYekan/BYekanBold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Shabnam';
    src: url('../webfonts/Shabnam/Shabnam.woff2') format('woff2'),
        url('../webfonts/Shabnam/Shabnam.woff') format('woff'),
        url('../webfonts/Shabnam/Shabnam.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Shabnam';
    src: url('../webfonts/Shabnam/Shabnam-Bold.woff2') format('woff2'),
        url('../webfonts/Shabnam/Shabnam-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

.header {
    font-family: 'BYekan', sans-serif;
    font-weight: bold;
}

.body-text {
    font-family: 'Shabnam', sans-serif;
    font-weight: normal;
}


body {
    font-family: 'Shabnam', sans-serif;
}

h1,
h2,
h3 {
    font-family: 'BYekan', sans-serif;
    font-weight: bold;
}

a {
    font-family: 'Shabnam', sans-serif;
    font-weight: 300;
    text-decoration: none;
    color: #0056b3;
}

button {
    font-family: 'BYekan', sans-serif;
    font-weight: 600;
}


/*  فونت فارسی پایان*/