#quoteModal {
    z-index: 9999;
}

#quoteModal.show {
    display: flex;
    /* نمایش مودال با استفاده از کلاس 'show' */
}

/* تنظیمات موبایل */
@media (max-width: 768px) {
    #quoteModal .container {
        width: 90%;
    }

    #quoteModal input,
    #quoteModal select,
    #quoteModal button {
        width: 100%;
        /* اندازه کامل برای موبایل */
    }
}

#quoteModal .container {
    max-width: 90vw;
    /* عرض مودال را تنظیم کنید */
    max-height: 90vh;
    /* ارتفاع مودال را تنظیم کنید */
    overflow-y: auto;
    /* اضافه کردن اسکرول در صورت لزوم */
    padding: 1.5rem;
}

#quoteModal.show {
    display: flex;
    align-items: center;
    justify-content: center;
}

#quoteModal .hidden {
    display: none;

}

#rate-inquiry-form {
    background-color: #003f5cc2;
    padding: 2rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    /* border-bottom-right-radius: 10%;
    border-bottom-left-radius: 10%; */
}

@media (100px < width < 999px) {

    #quoteModal {
        padding-top: 175px;
        padding-bottom: 175px;
        overflow: scroll;
    }


}