.services-section {
    padding: 2rem 0;
}

.service-cards .card:hover {
    background-color: #f3f4f6;
}

.service-details {
    transition: all 0.3s ease;
}

.hidden {
    display: none;
}

.block {
    display: block;
}

.active-tab {
    background-color: white !important;
}

.active-text {
    color: #1d4ed8 !important;
    /* رنگ آبی پررنگ */
}