@layer base {
    .hidden {
        display: none;
    }

    .block {
        display: block;
    }
}

.secCard>div {
    flex-direction: row;
    display: flex;
    gap: 15px;

    justify-content: space-around;
    align-items: center;

}


.secCard {
    justify-content: space-evenly;
    align-content: center;
}