.service-content {
    min-height: 500px; /* حداقل ارتفاع ثابت برای همه سرویس‌ها */
}

.video-container video {
    object-fit: cover; /* تنظیم مناسب ابعاد ویدیو */
    height: 100%; /* تنظیم ارتفاع ویدیو به اندازه کانتینر */
    width: 100%; /* تنظیم عرض ویدیو به اندازه کانتینر */
}
