div.text-center svg {
    height: 56px;
    width: auto;
    fill: #2563EB;
    transition: all 300ms ease 0s;
}

.svgicon:hover div.text-center svg {
    height: 56px;
    width: auto;
    fill: #ffffff;
    transition: all 300ms ease 0s;
}

.svgicon:hover div.text-center:hover {
    color: #fafafb;
}

.svgicon {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.svgicon div.text-center {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;

}