:root {
  /* رنگ‌های اصلی */
  --primary-navy-blue: #003f5c;
  --primary-light-blue: #0077b6;
  --primary-turquoise: #00b4d8;
  --primary-light-gray: #f1f1f1;
  --primary-orange-gold: #f8961e;

  /* رنگ‌های ثانویه */
  --secondary-grayish-blue: #6c757d;
  --secondary-coral-orange: #f3722c;
  --secondary-sky-blue: #48cae4;
  --secondary-midnight-blue: #023e8a;
  --secondary-soft-green: #90e0ef;
  --font-poppins: 'Poppins', sans-serif;
  --font-noto-sans: 'Noto Sans', sans-serif;
  --font-vazirmatn: 'Vazirmatn', sans-serif;
}


* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  outline-style: none;
}

/* مثال‌هایی از استفاده از رنگ‌ها */
body {
  font-family: var(--font-poppins);
  /* استفاده از فونت Poppins */
  color: var(--txtaccent-dark);
  background-color: #f8f9fa;
}


h1,
h2,
h3 {
  color: var(--primary-navy-blue);
  font-family: var(--font-noto-sans);
  /* استفاده از فونت Noto Sans برای عنوان‌ها */

}

p {
  font-family: var(--font-vazirmatn);
  /* استفاده از فونت Vazirmatn برای پاراگراف‌ها */
}

button {
  background-color: var(--primary-orange-gold);
  color: white;
  border: 2px solid var(--secondary-coral-orange);
}

button:hover {
  background-color: var(--secondary-coral-orange);
  color: white;
}

a {
  color: var(--primary-light-blue);
}

a:hover {
  color: var(--secondary-midnight-blue);
}

header {
  background-color: var(--primary-turquoise);
  box-shadow: 0 4px 8px var(--secondary-grayish-blue);
}

footer {
  background-color: var(--primary-navy-blue);
  color: var(--primary-light-gray);
}

.border {
  border-color: var(--secondary-grayish-blue);
}

.shadow {
  box-shadow: 0 4px 6px var(--secondary-grayish-blue);
}

.container {
  width: 95%;
  margin: 0px auto;
  padding: 0px;
}

/* SECTION ZERO = LANDING VIEW */


#custome-main-show video {
  width: 100%;
}



#sec-0 article {
  display: flex;
  align-items: center;
  text-align: center;
  /* padding: 3rem 0px; */
}

#sec-0 article h1 {
  font-weight: normal;
  font-size: 1.25rem;
  color: var(--txtaccent);
  margin-bottom: 10px;
}

#sec-0 article h2 {
  text-transform: uppercase;
  font-size: 1.85rem;
  color: var(--txtaccent);
  line-height: 1em;
  margin-bottom: 15px;
  font-weight: 700;
}

#sec-0 article h2 span {
  color: var(--haccent);
}

#sec-0 article p {
  color: var(--txtaccent);
  margin-bottom: 3rem;
  padding-left: 4rem;
  padding-right: 4rem;
}

#sec-0 article a {
  color: var(--haccent2);
  background-color: var(--txtaccent4);
  display: inline-block;
  padding: 8px 15px;
  margin-left: 5px;
  border: solid 1px var(--haccent2);
  text-decoration: none;
  text-transform: uppercase;
  font-weight: bold;
}

#sec-0 article a:hover {
  background-color: var(--haccent2);
  color: var(--txtaccent);
}

/* SECTION ONE */
#sec-1 {
  background-color: var(--txtaccent);
}

#sec-1 article {
  padding-top: 20px;
  text-align: center;
}

#sec-1 article h1 {
  font-size: 1.85rem;
  color: var(--haccent);
  font-weight: 700;
  text-transform: uppercase;
}

#sec-1 article h2 {
  font-size: 1.1rem;
  font-weight: 700;
  color: var(--textaccent3);
}

#sec-1 article p {
  font-size: 0.85rem;
  text-align: justify;
  margin: 1.3rem 0px 1.1rem;
}

#sec-1 article a {
  color: var(--txtaccent);
  background-color: var(--haccent);
  text-transform: uppercase;
  text-decoration: none;
  padding: 6px 10px;
  border-radius: 5px;
  display: inline-block;
  width: fit-content;
}

#sec-1 aside {
  width: 95%;
  margin: 25px auto 0px;
}

#sec-1 aside img {
  max-width: 100%;
}

/* SECTION 4 */
#sec-4 {
  background: linear-gradient(rgba(78, 76, 70, 0.8), rgba(78, 76, 70, 0.8)),
    url(../Images/bg2.jpg) no-repeat center center/cover;
  text-align: center;
  padding-top: 2rem;
  padding-bottom: 4rem;
}

#sec-4 h1 {
  text-transform: uppercase;
  font-size: 1.7rem;
  margin-bottom: 1.6rem;
  color: var(--txtaccent);
  font-weight: 800;
}

#sec-4 p {
  color: var(--txtaccent);
  font-size: 0.9rem;
  padding: 0px 6rem;
  margin-bottom: 2rem;
}

#sec-4 .filter {
  margin-bottom: 2rem;
  padding: 0px 6rem;
}

#sec-4 .filter a {
  display: inline-block;
  padding: 3px 20px 5px;
  border-radius: 15px;
  color: var(--txtaccent);
  text-decoration: none;
  text-transform: uppercase;
  transition: background-color 0.65s ease;
  font-size: 0.85rem;
}

#sec-4 .filter a:hover {
  background-color: var(--bgaccent);
}

#sec-4 .cont {
  width: 90%;
  margin: 0px auto;
}

#sec-4 .cont>img {
  width: 100%;
  display: block;
  margin: 0px auto 20px;
}

#sec-4 aside {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}

#sec-4 aside img {
  margin-bottom: 10px;
  width: 48%;
}

/* SECTION SEVEN */
#sec-7 {
  background-color: var(--bgaccent);
  padding: 20px 0px 10px;
  text-align: center;
  font-size: 0.7rem;
}

#sec-7 p {
  color: var(--txtaccent5);
}

#sec-7 p span {
  color: var(--haccent);
}

/*MEDIA QUERRIES*/
/*Smart phones */
@media (min-width: 576px) {
  html {
    font-size: 13px;
  }

  .container {
    width: 520px;
  }

  #sec-0 header nav a {
    background-color: transparent;
  }

  #sec-0 input+nav {
    background-color: var(--bgaccent_withOpacity);
    position: absolute;
    top: 100%;
    right: 0%;
    width: 35%;
    border-bottom-left-radius: 10px;
  }

  #sec-0 #searchBox {
    transform: translateY(25px);
  }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
  html {
    font-size: 14px;
  }

  .container {
    width: 720px;
  }

  #sec-0 header.top {
    padding-top: 0px;
  }

  #sec-0 {
    background-position: center center;
  }

  #sec-0 header.top .container {
    justify-content: flex-start;
  }

  #sec-0 header.top p {
    width: fit-content;
    margin-right: 10px;
  }

  #sec-0 .top .social {
    width: fit-content;
    flex-grow: 1;
  }

  #sec-0 header label {
    display: none;
  }

  #sec-0 header nav a {
    border-style: none;
  }

  #sec-0 input+nav {
    display: flex;
    flex-wrap: nowrap;
    justify-content: flex-end;
    width: fit-content;
    position: static;
    border-radius: none;
    font-size: 0.8rem;
  }

  #sec-0 input:checked+nav {
    display: flex;
  }

  #sec-0 article {
    /* padding: 5rem 0px; */
  }

  #sec-0 article h1 {
    font-size: 2rem;
  }

  #sec-0 article h2 {
    font-size: 3.5rem;
  }

  #sec-0 #searchBox {
    min-width: 35%;
  }

  #sec-1 .container {
    display: flex;
    /* flex-wrap: wrap; */
    justify-content: space-between;
  }

  #sec-1 article {
    padding: 0px;
    text-align: left;
    width: 51%;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
  }

  #sec-1 article p {
    padding-right: 1rem;
    font-size: large;
    font-family: auto;
    font-weight: bold;
  }

  #sec-1 aside {
    width: 48%;
    margin: 0px;
    text-align: right;
  }


  #sec-2 article {
    justify-content: space-between;
  }

  #sec-2 article figure {
    max-width: 40%;
  }

  #sec-2 article figure img {
    max-width: 100%;
    border-radius: 50%;
  }

  #sec-3 {
    padding-top: 40px;
    padding-bottom: 50px;
  }

  #sec-3 .cont {
    flex-direction: row;
  }

  #sec-3 .card {
    width: 48%;
  }

  #sec-3 .card:last-child {
    margin-left: auto;
    margin-right: auto;
  }

  #sec-4 .cont {
    width: 100%;
    margin: 0px;
  }

  #sec-4 aside img {
    margin-bottom: 15px;
    width: 48%;
  }

  #sec-5 h1+p {
    padding: 0px 6rem;
  }

  #sec-5 .cont {
    gap: 5vw;
  }

  #sec-5 article {
    width: 43%;
  }

  #sec-5 .contactUs form input+p {
    bottom: 4px;
  }

  #sec-6 .container {
    justify-content: space-between;
    row-gap: 25px;
  }

  #sec-6 .about {
    width: 65%;
  }

  #sec-6 .links {
    width: 20%;
  }

  #sec-6 .posts {
    width: 65%;
  }

  #sec-6 .contact {
    width: 20%;
  }
}

/* Standard PC screens */
@media (min-width: 1200px) {
  html {
    font-size: 15px;
  }

  .container {
    width: 1140px;
  }

  #sec-0 .top .social {
    gap: 10px;
  }

  #sec-0 header:last-of-type .container {
    padding: 0.95rem 0px;
  }

  #sec-0 header nav a {
    margin-right: 10px;
    font-size: 0.92rem;
  }

  #sec-0 article p {
    padding-left: 14rem;
    padding-right: 14rem;
  }

  #sec-1 article h1 {
    font-size: 2.7rem;
  }

  #sec-1 article h2 {
    font-size: 1.8rem;
  }

  #sec-2 {
    background-position: center top;
  }

  #sec-2 article {
    justify-content: space-evenly;
  }

  #sec-2 article figure {
    max-width: 21%;
  }

  #sec-3 {
    padding-top: 70px;
    padding-bottom: 60px;
  }

  #sec-3 .card {
    width: 31%;
  }

  #sec-3 .card:last-child {
    margin-left: 0px;
    margin-right: 0px;
  }

  #sec-4 .cont {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
  }

  #sec-4 .cont>img {
    width: 50%;
    margin: 0px;
  }

  #sec-4 aside {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    width: 49%;
    gap: 10px;
  }

  #sec-4 aside img {
    width: 49%;
    margin: 0px;
  }

  #sec-5 {
    background-position: right center;
  }

  #sec-5 .cont {
    justify-content: space-between;
    gap: 0px;
    padding-bottom: 25px;
  }

  #sec-5 article {
    width: 30%;
  }

  #sec-5 .contactUs>.container {
    display: flex;
    justify-content: space-between;
  }

  #sec-5 .contactUs aside {
    width: 45%;
    text-align: left;
  }

  #sec-5 .contactUs form {
    width: 45%;
    padding-top: 0px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  #sec-5 .contactUs form input {
    margin-right: 15px;
  }

  #sec-5 .contactUs form input:not(input[type="submit"]) {
    flex-grow: 1;
  }

  #sec-5 .contactUs form input+p {
    text-align: left;
  }

}


@media (min-width: 1400px) {
  html {
    font-size: 17px;
  }

  .container {
    width: 1340px;
  }

}



/* END OF SHEET */