<link href="css/Blog.css" rel="stylesheet" type="text/css">
<section id="sec-99">
    <div class="container-fluid px-lg-0 wow fadeInUp" data-wow-delay="0.1s">
        <div class="container px-lg-0 py-5">
            <div class="section-title text-center position-relative pb-3 mb-5 mx-auto" style="max-width: 600px;">
                <h5 class="fw-bold text-primary text-uppercase">Latest Blogs</h5>
                <h1 class="mb-0">Read Our Latest Blog Articles</h1>
            </div>
            <div class="row g-4">
                <!-- Blog Item 1 -->
                <div class="col-lg-4">
                    <div class="blog-item bg-light rounded overflow-hidden">
                        <div class="blog-img position-relative overflow-hidden">
                            <a href="blog-details.html">
                                <img class="img-fluid" src="https://via.placeholder.com/350" alt="Blog Image 1"
                                    style="max-width: 100%; height: auto;">
                            </a>
                        </div>
                        <div class="p-4">
                            <h4 class="mb-3 text-primary">How to build a website</h4>
                            <p>Short description about the first blog. You can write more details about the
                                topic here.
                            </p>
                            <a class="text-uppercase text-primary" href="blog-details.html">Read More <i
                                    class="bi bi-arrow-right"></i></a>
                        </div>
                    </div>
                </div>
                <!-- Blog Item 2 -->
                <div class="col-lg-4">
                    <div class="blog-item bg-light rounded overflow-hidden">
                        <div class="blog-img position-relative overflow-hidden">
                            <a href="blog-details.html">
                                <img class="img-fluid" src="https://via.placeholder.com/350" alt="Blog Image 2"
                                    style="max-width: 100%; height: auto;">
                            </a>
                        </div>
                        <div class="p-4">
                            <h4 class="mb-3 text-primary">10 Tips for SEO Improvement</h4>
                            <p>Short description about the second blog. You can write more details about the
                                topic here.
                            </p>
                            <a class="text-uppercase text-primary" href="blog-details.html">Read More <i
                                    class="bi bi-arrow-right"></i></a>
                        </div>
                    </div>
                </div>
                <!-- Blog Item 3 -->
                <div class="col-lg-4">
                    <div class="blog-item bg-light rounded overflow-hidden">
                        <div class="blog-img position-relative overflow-hidden">
                            <a href="blog-details.html">
                                <img class="img-fluid" src="https://via.placeholder.com/350" alt="Blog Image 3"
                                    style="max-width: 100%; height: auto;">
                            </a>
                        </div>
                        <div class="p-4">
                            <h4 class="mb-3 text-primary">UX Design Guide</h4>
                            <p>Short description about the third blog. You can write more details about the
                                topic here.
                            </p>
                            <a class="text-uppercase text-primary" href="blog-details.html">Read More <i
                                    class="bi bi-arrow-right"></i></a>
                        </div>
                    </div>
                </div>
                <!-- Blog Item 4 -->
                <div class="col-lg-4">
                    <div class="blog-item bg-light rounded overflow-hidden">
                        <div class="blog-img position-relative overflow-hidden">
                            <a href="blog-details.html">
                                <img class="img-fluid" src="https://via.placeholder.com/350" alt="Blog Image 4"
                                    style="max-width: 100%; height: auto;">
                            </a>
                        </div>
                        <div class="p-4">
                            <h4 class="mb-3 text-primary">Graphic Design Tips</h4>
                            <p>Short description about the fourth blog. You can write more details about the
                                topic here.
                            </p>
                            <a class="text-uppercase text-primary" href="blog-details.html">Read More <i
                                    class="bi bi-arrow-right"></i></a>
                        </div>
                    </div>
                </div>
                <!-- Blog Item 5 -->
                <div class="col-lg-4">
                    <div class="blog-item bg-light rounded overflow-hidden">
                        <div class="blog-img position-relative overflow-hidden">
                            <a href="blog-details.html">
                                <img class="img-fluid" src="https://via.placeholder.com/350" alt="Blog Image 5"
                                    style="max-width: 100%; height: auto;">
                            </a>
                        </div>
                        <div class="p-4">
                            <h4 class="mb-3 text-primary">Digital Marketing Techniques</h4>
                            <p>Short description about the fifth blog. You can write more details about the
                                topic here.
                            </p>
                            <a class="text-uppercase text-primary" href="blog-details.html">Read More <i
                                    class="bi bi-arrow-right"></i></a>
                        </div>
                    </div>
                </div>
                <!-- Blog Item 6 -->
                <div class="col-lg-4">
                    <div class="blog-item bg-light rounded overflow-hidden">
                        <div class="blog-img position-relative overflow-hidden">
                            <a href="blog-details.html">
                                <img class="img-fluid" src="https://via.placeholder.com/350" alt="Blog Image 6"
                                    style="max-width: 100%; height: auto;">
                            </a>
                        </div>
                        <div class="p-4">
                            <h4 class="mb-3 text-primary">Successful Project Management</h4>
                            <p>Short description about the sixth blog. You can write more details about the
                                topic here.
                            </p>
                            <a class="text-uppercase text-primary" href="blog-details.html">Read More <i
                                    class="bi bi-arrow-right"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="text-center mt-4">
                <button class="btn btn-primary" id="loadMore">Load More</button>
            </div>
        </div>
    </div>
</section>