<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
    <link href="../css/Header.css" rel="stylesheet" type="text/css">
    <link href="../css/Color.css" rel="stylesheet" type="text/css">
    <link href="../css/Fonts.css" rel="stylesheet" type="text/css">

</head>

<body style="height: 200vh;">

    <header class=" top-0 bg-white z-50 shadow-lg">
        <div class="hide" id="searchBar">
            <input type="search" name="searchBox" id="searchBox"
                placeholder="Type your search here.. Press [Esc] to exit">
        </div>
        <div class="flex justify-center items-center space-x-8 mx-auto relative mymenu">
            <!-- دکمه منوی همبرگری -->
            <div id="menu-toggle" class="block md:hidden focus:outline-none px-4 absolute left-0">
                <i class="">
                    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 40 30"
                        class="hamburger-svg">
                        <rect width="40" height="4" rx="2" fill="var(--primary-light-blue)"></rect>
                        <rect y="13" width="40" height="4" rx="2" fill="var(--primary-light-blue)"></rect>
                        <rect y="26" width="40" height="4" rx="2" fill="var(--primary-light-blue)"></rect>
                    </svg>
                </i>
            </div>


            <div id="mobile-menu" class="hidden">
                <a href="#"><i class="fas fa-home"></i> Home</a>
                <hr />
                <a href="#" id="services-link" class="menu-item">
                    <i class="fas fa-cog"></i> Services
                    <span class="submenu-icon">&#9662;</span>
                </a>
                <div id="services-submenu" class="submenu hidden">
                    <a href="#"><i class="fas fa-home"></i> Ocean Transport</a>
                    <a href="#"><i class="fas fa-home"></i> Maritime Transport</a>
                    <a href="#"><i class="fas fa-home"></i> Services Maps</a>
                </div>

                <hr />
                <a href="#"><i class="fas fa-file-alt"></i> Request a Quote</a>
                <div id="close-menu" class="close-btn">
                    <i class="">
                        <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" viewBox="0 0 24 24" fill="none"
                            stroke="currentColor" stroke-width="3" stroke-linecap="round" stroke-linejoin="round"
                            class="x-icon text-blue-900 ">
                            <line x1="18" y1="6" x2="6" y2="18"></line>
                            <line x1="6" y1="6" x2="18" y2="18"></line>
                        </svg>
                    </i>
                </div>
                <hr />
                <a href="#" id="eqc-link" class="menu-item">
                    <i class="fas fa-cog"></i> EQC
                    <span class="submenu-icon">&#9662;</span>
                </a>
                <div id="eqc-submenu" class="submenu hidden">
                    <a href="#"><i class="fas fa-home"></i> Incoterms</a>
                    <a href="#"><i class="fas fa-box"></i> Cargo</a>
                </div>
                <hr />
                <a href="#"><i class="fas fa-info-circle"></i> About Us</a>
                <hr />
                <a href="#"><i class="fas fa-envelope"></i> Contact Us</a>
            </div>


            <!-- منوی سمت چپ لوگو -->
            <nav id="menu" class="hidden md:flex space-x-4">
                <a href="#" class="nav-link custome-size-menu custome-menu-item ">Home</a>
                <div class="relative">
                    <a href="#" id="desktop-services" class="nav-link custome-size-menu custome-menu-item">
                        Services
                        <span class="submenu-icon">&#9662;</span>
                    </a>

                    <div id="services-dropdown" class="absolute hidden bg-white shadow-lg mt-2 w-48 substack">
                        <a href="#" class="block px-4 py-2 text-gray-800 hover:bg-gray-200 ">Ocean Transport</a>
                        <a href="#" class="block px-4 py-2 text-gray-800 hover:bg-gray-200">Maritime
                            Transport</a>
                        <a href="#" class="block px-4 py-2 text-gray-800 hover:bg-gray-200">Services Maps</a>
                    </div>
                </div>

                <a href="#" class="nav-link custome-size-menu custome-menu-item">Request a Quote</a>

            </nav>

            <!-- لوگو وسط منو -->
            <div class="relative flex justify-center items-center mt-4 mb-4 mx-5">
                <div id="logo-butt"
                    class="absolute w-44 h-28 rounded-full  shadow-[0_8px_16px_rgba(0,0,255,0.5)] -top-7 ">
                </div>
                <img src="../Images/Icon/roshan-new-en.png" alt="roshandarya" class="relative w-32 h-auto z-10 top-6">
            </div>

            <!-- منو سمت راست لوگو -->
            <nav class="hidden md:flex space-x-4">

                <div class="relative z-10">
                    <a href="#" id="desktop-eqc" class="nav-link custome-size-menu custome-menu-item z-100">
                        EQC
                        <span class="submenu-icon">&#9662;</span>
                    </a>
                    <div id="eqc-dropdown" class="absolute hidden bg-white shadow-lg mt-2 w-48 right-0 substack">
                        <a href=" #" class="block px-4 py-2 text-gray-800 hover:bg-gray-200">Incoterms</a>
                        <a href="#" class="block px-4 py-2 text-gray-800 hover:bg-gray-200">Cargo</a>
                    </div>
                </div>
                <a href="#" class="nav-link custome-size-menu custome-menu-item">About Us</a>
                <a href="#" class="nav-link custome-size-menu custome-menu-item">Contact Us</a>
                <a href="index.html" class="nav-link custome-size-menu custome-menu-item">
                    <img src="../Images/iran-flag-icon.svg" alt="Iran Flag" id="iran-flag" class="w-6 h-6">
                </a>
                <i class="fa-solid fa-magnifying-glass" id="search"></i>
            </nav>
        </div>
    </header>

    <script src="../js/custome-javascript.js"></script>
    <script src="https://unpkg.com/aos@next/dist/aos.js"></script>

</body>

</html>