<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>roshanDarya</title>

    <!-- لینک به فایل‌های CSS -->
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
    <link href="/css/quoteModal.css" rel="stylesheet" type="text/css">
    <link href="/css/rate-inquiry.css" rel="stylesheet" type="text/css">
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link rel="stylesheet" href="/css/custome.css" type="text/css">
    <link rel="stylesheet" href="/css/Header.css" type="text/css">
    <link rel="stylesheet" href="/css/Footer.css" type="text/css">
    <link href="/css/Color.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="/css/rate-inquiry.css" type="text/css">


</head>

<body>
    <!-- Header -->
    <header class=" top-0 bg-white z-50 shadow-lg">
        <div class="hide" id="searchBar">
            <input type="search" name="searchBox" id="searchBox"
                placeholder="Type your search here.. Press [Esc] to exit">
        </div>
        <nav class="flex justify-center items-center space-x-8 mx-auto relative ">
            <!-- دکمه منوی همبرگری -->
            <div id="menu-toggle" class="block md:hidden focus:outline-none px-4 absolute left-0">
                <i class="">
                    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 40 30"
                        class="hamburger-svg">
                        <rect width="40" height="4" rx="2" fill="var(--primary-light-blue)"></rect>
                        <rect y="13" width="40" height="4" rx="2" fill="var(--primary-light-blue)"></rect>
                        <rect y="26" width="40" height="4" rx="2" fill="var(--primary-light-blue)"></rect>
                    </svg>
                </i>
            </div>


            <div id="mobile-menu" class="hidden">
                <a href="/index.php" id="home-link-mob"><i class=""></i> Home</a>
                <hr />
                <a id="services-linkss" class="menu-item">
                    <i class="" id="services-link-mob"></i> Services
                    <span class="submenu-icon">&#9662;</span>
                </a>
                <div id="services-submenu" class="submenu hidden">
                    <a href="/Components/services/maritime-transport.html" id="maritime-link-mob"><i class=""></i>
                        Maritime Transport</a>
                    <a href="/Components/services/ground-transport.html" id="air-freight-link-mob"><i class=""></i> air
                        freight</a>
                    <a href="/Components/services/air-freight.html" id="ground-transport-link-mob"><i class=""></i>
                        Ground Transport</a>
                    <!-- <a href="/Components/services/maps.html" id="services-maps-link-mob"><i class=""></i> Services
                        Maps</a> -->
                </div>

                <hr />
                <a href="#" class="request-quote-link"><i class=""></i> Request a Quote</a>
                <div id="close-menu" class="close-btn">
                    <i class="contents">
                        <svg xmlns="http://www.w3.org/2000/svg" width="60" height="60" viewBox="0 0 24 24" fill="none"
                            stroke="currentColor" stroke-width="4" stroke-linecap="round" stroke-linejoin="round"
                            class="x-icon text-blue-900 ">
                            <line x1="18" y1="6" x2="6" y2="18"></line>
                            <line x1="6" y1="6" x2="18" y2="18"></line>
                        </svg>
                    </i>
                </div>
                <hr />
                <a href="#" id="eqc-linkss" class="menu-item">
                    <i class=""></i> EQC
                    <span class="submenu-icon">&#9662;</span>
                </a>
                <div id="eqc-submenu" class="submenu hidden">
                    <a href="/Components/eqc/incoterms.html" id="incoterms-link-mob"><i class=""></i> Incoterms</a>
                    <a href="/Components/eqc/cargo.html" id="cargo-link-mob"><i class=""></i> Cargo</a>
                </div>
                <hr />
                <a href="/Components/AboutUs.html" id="about-us-link-mob"><i class=""></i> About Us</a>
                <hr />
                <a href="/Components/ContactUs.html" id="contact-us-link-mob"><i class=""></i> Contact Us</a>

            </div>


            <menu class="flex items-center flex-row w-full justify-center">
                <!-- منوی سمت چپ لوگو -->
                <nav id="menu" class="hidden md:flex space-x-4 mymenu">
                    <a href="/index.php" class="nav-link custome-size-menu custome-menu-item text-black bg-white"
                        id="home-link">Home</a>
                    <div class="relative">
                        <a href="/Components/Services.html" id="desktop-services"
                            class="nav-link custome-size-menu custome-menu-item text-black">
                            Services
                            <span class="submenu-icon">&#9662;</span>
                        </a>

                        <div id="services-dropdown" class="absolute hidden bg-white shadow-lg mt-2 w-48 substack"
                            style="background-color:rgba(255, 255, 255, 0.805);">
                            <a href="/Components/services/maritime-transport.html"
                                class="block px-4 py-2 hover:bg-gray-200"
                                style="color: var(--primary-navy-blue) !important;" id="maritime-link">Maritime
                                Transport</a>
                            <a href="/Components/services/ground-transport.html"
                                style="color: var(--primary-navy-blue) !important;"
                                class="block px-4 py-2 text-gray-800 hover:bg-gray-200 text-black"
                                id="ground-transport-link">Ground
                                Transport</a>
                            <a href="/Components/services/air-freight.html"
                                style="color: var(--primary-navy-blue) !important;"
                                class="block px-4 py-2 text-gray-800 hover:bg-gray-200  text-black"
                                id="air-freight-link">air freight</a>
                            <!-- <a href="/Components/services/maps.html" style="color: var(--primary-navy-blue) !important;"
                                class="block px-4 py-2 text-gray-800 hover:bg-gray-200 text-black"
                                id="services-maps-link">Services
                                Maps</a> -->
                        </div>
                    </div>

                   <a href="#" class="nav-link custome-size-menu custome-menu-item text-black request-quote-link">Request a Quote</a>

                </nav>

                <!-- لوگو وسط منو -->
                <a class="relative flex justify-center items-center ml-6 mr-6 " href="/index.php" style="padding:0 ;">
                    <div id="logo-butt"
                        class="absolute w-44 h-28 rounded-full z-10 shadow-[0_8px_16px_rgba(0,0,255,0.5)] -top-7 mobwhite bg-white">
                    </div>

                    <img src="/Images/Icon/roshan-new-en.webp" alt="roshandarya" class="relative w-36 h-auto z-10 top-6">
                </a>



                <!-- منو سمت راست لوگو -->
                <nav class="hidden md:flex space-x-4 mymenu ml-3">

                    <div class="relative z-10">
                        <a href="/Components/eqc.html" id="desktop-eqc"
                            class="nav-link custome-size-menu custome-menu-item z-100 text-black">
                            EQC
                            <span class="submenu-icon">&#9662;</span>
                        </a>
                        <div id="eqc-dropdown" class="absolute hidden bg-white shadow-lg mt-2 w-48 right-0 substack"
                            style="background-color:rgba(255, 255, 255, 0.805);">
                            <a href="/Components/eqc/incoterms.html" style="color: var(--primary-navy-blue) !important;"
                                class="block px-4 py-2 text-gray-800 hover:bg-gray-200"
                                id="incoterms-link">Incoterms</a>
                            <a href="/Components/eqc/cargo.html" class="block px-4 py-2 text-gray-800 hover:bg-gray-200"
                                style="color: var(--primary-navy-blue) !important;" id="cargo-link">Cargo</a>
                        </div>
                    </div>
                    <a href="/Components/AboutUs.html" class="nav-link custome-size-menu custome-menu-item text-black"
                        id="about-us-link">About
                        Us</a>
                    <a href="/Components/ContactUs.html" class="nav-link custome-size-menu custome-menu-item text-black"
                        id="contact-us-link">Contact
                        Us</a>
                    <a href="/persian/index.php" class="nav-link custome-size-menu custome-menu-item language-toggle">
                        <img src="/Images/iran-flag-icon.svg" alt="Iran Flag" id="flag-icon" class="w-6 h-6">
                    </a>
                    <i class="fa-solid fa-magnifying-glass" id="search"></i>
                </nav>
            </menu>
        </nav>
    </header>


    <main id="about-us" class="bg-white text-gray-800">
        <!-- Hero Section -->
        <section class="bg-cover bg-center relative h-96"
            style="background-image: url('/Images/Image/AboutUs/hero.webp');">
            <div class="bg-black bg-opacity-50 absolute inset-0 flex items-center justify-center">
                <div class="text-center text-white">
                    <h1 class="text-4xl font-bold mb-4 text-white">About Us</h1>
                    <p class="text-lg">Learn more about who we are, our mission, and how we serve our clients.</p>
                </div>
            </div>
        </section>

        <!-- Introduction Section -->
        <section class="container mx-auto px-6 py-12">
            <h2 class="text-3xl font-bold text-primary-navy-blue mb-6 text-center">Who We Are</h2>
            <p class="text-lg text-center text-justify lg:px-40">
                Roshan Darya Pars Shipping Line, founded in 2018, initially provided forwarding services to customers.
                Under the leadership of our CEO, Mr. Farid Ahmadi, RDPL has expanded to offer liner services as a
                carrier and NVOCC across Europe, Australia, Canada, China, India, and the Persian Gulf. We deliver
                regular and direct services to our valued customers worldwide. Our professional staff is committed to
                assisting clients in moving their goods globally, making RDPL the best choice for comprehensive
                logistics management.
            </p>
        </section>

        <!-- Mission, Vision, and Values -->
        <section class="bg-gray-50 py-12">
            <div class="container mx-auto px-6">
                <div class="grid grid-cols-1 md:grid-cols-3 gap-8 text-center">
                    <div>
                        <h3 class="text-2xl font-bold text-primary-navy-blue mb-4">Our Mission</h3>
                        <p>To provide seamless, sustainable, and innovative logistics solutions that empower global
                            trade.</p>
                    </div>
                    <div>
                        <h3 class="text-2xl font-bold text-primary-navy-blue mb-4">Our Vision</h3>
                        <p>To be a trusted leader in maritime and logistics services, connecting businesses across the
                            globe.</p>
                    </div>
                    <div>
                        <h3 class="text-2xl font-bold text-primary-navy-blue mb-4">Our Values</h3>
                        <ul class="list-disc list-inside text-left w-auto whitespace-nowrap lg:pl-28 md:px-0 sm:px-0 ">
                            <li class=" whitespace-nowrap">Customer Centricity</li>
                            <li>Innovation</li>
                            <li>Integrity</li>
                            <li class="whitespace-nowrap">Sustainability</li>
                        </ul>
                    </div>
                </div>
            </div>
        </section>

        <!-- Leadership Section -->
        <!-- <section class="bg-gray-100 py-12">
            <div class="container mx-auto px-6">
                <h2 class="text-3xl font-bold text-primary-navy-blue mb-6 text-center">Meet Our Leadership</h2>
                <div class="grid grid-cols-1 md:grid-cols-3 gap-8">
                    <div class="text-center">
                        <img src="path/to/leader1.webp" alt="Leader 1" class="rounded-full w-32 h-32 mx-auto mb-4">
                        <h3 class="text-xl font-bold">John Doe</h3>
                        <p class="text-gray-600">CEO</p>
                    </div>
                    <div class="text-center">
                        <img src="path/to/leader2.webp" alt="Leader 2" class="rounded-full w-32 h-32 mx-auto mb-4">
                        <h3 class="text-xl font-bold">Jane Smith</h3>
                        <p class="text-gray-600">COO</p>
                    </div>
                    <div class="text-center">
                        <img src="path/to/leader3.webp" alt="Leader 3" class="rounded-full w-32 h-32 mx-auto mb-4">
                        <h3 class="text-xl font-bold">Mike Brown</h3>
                        <p class="text-gray-600">CFO</p>
                    </div>
                </div>
            </div>
        </section> -->

        <!-- Call to Action -->
        <section class="bg-primary-light-blue text-white py-16">
            <div class="container mx-auto text-center">
                <h2 class="text-3xl font-bold mb-4">Join Our Journey</h2>
                <p class="mb-6">
                    Partner with us and experience the difference in reliable, efficient logistics solutions.
                </p>
                <a href="#contact-us"
                    class="bg-white text-primary-light-blue px-8 py-4 rounded-md shadow-md hover:bg-gray-200">
                    Contact Us
                </a>
            </div>
        </section>
    </main>


    <!-- Dropdown Menu -->
    <div id="dropdownMenu" class="hidden absolute mt-2 w-56 bg-white rounded-lg shadow-lg z-10">
        <!-- Maritime Transport -->
        <a href="/services/maritime-transport"
            class="block px-4 py-3 hover:bg-gray-100 transition duration-300 text-gray-700">
            <h3 class="text-lg font-semibold">Maritime Transport</h3>
            <p class="text-sm text-gray-600">Reliable ocean freight services for global shipping needs.</p>
        </a>

        <!-- Ground Transport -->
        <a href="/services/ground-transport"
            class="block px-4 py-3 hover:bg-gray-100 transition duration-300 text-gray-700">
            <h3 class="text-lg font-semibold">Ground Transport</h3>
            <p class="text-sm text-gray-600">Comprehensive trucking solutions for domestic and international
                delivery.
            </p>
        </a>

        <!-- Air Freight -->
        <a href="/services/air-freight" class="block px-4 py-3 hover:bg-gray-100 transition duration-300 text-gray-700">
            <h3 class="text-lg font-semibold">Air Freight</h3>
            <p class="text-sm text-gray-600">Fast and secure air cargo transport for time-sensitive shipments.
            </p>
        </a>

        <!-- Services Maps -->
        <a href="/services/maps" class="block px-4 py-3 hover:bg-gray-100 transition duration-300 text-gray-700">
            <h3 class="text-lg font-semibold">Services Maps</h3>
            <p class="text-sm text-gray-600">Explore our global routes and coverage.</p>
        </a>
    </div>
    </div>

    <!-- جاوا اسکریپت ساده برای باز و بسته کردن منو -->


    <!-- Footer -->
    <footer class="bg-primary-navy-blue text-white py-10">
        <section id="sec-6" class="bg-primary-navy-blue text-white py-10">
            <div class="container mx-auto grid grid-cols-1 md:grid-cols-4 gap-8">

                <!-- About Company Section -->
                <div class="about">
                    <h1>About Company</h1>
                    <h2>
                        Roshandarya
                        <p>Global Shipping & Transport Solutions</p>
                    </h2>
                    <p>We specialize in providing comprehensive transportation and logistics solutions
                        worldwide,
                        committed
                        to excellence and customer satisfaction.</p>
                    <!-- Map Integration -->
                    <h2>Our Location</h2>
                    <iframe loading="lazy"
                        src="https://maps.google.com/maps?q=tehran%2C%20motahary%20st%2C%20%20roshan%20darya%20pars&amp;t=m&amp;z=14&amp;output=embed&amp;iwloc=near"
                        title="tehran, motahary st,  roshan darya pars"
                        aria-label="tehran, motahary st,  roshan darya pars" data-origwidth="" data-origheight=""
                        width="100%" height="250" style="border:0;" allowfullscreen="" loading="lazy"></iframe>

                </div>

                <!-- Explor Links Section -->
                <div class="links">
                    <h1 class="text-xl font-bold mb-4">Explore Links</h1>
                    <a href="#" class="block text-secondary-grayish-blue hover:underline">Our Services</a>
                    <a href="#" class="block text-secondary-grayish-blue hover:underline">Meet Our Team</a>
                    <a href="#" class="block text-secondary-grayish-blue hover:underline">Forum</a>
                    <a href="#" class="block text-secondary-grayish-blue hover:underline">Help Center</a>
                    <a href="#" class="block text-secondary-grayish-blue hover:underline">Contact Us</a>
                    <a href="#" class="block text-secondary-grayish-blue hover:underline">Privacy Policy</a>
                    <a href="#" class="block text-secondary-grayish-blue hover:underline">Our Terms</a>
                    <a href="#" class="block text-secondary-grayish-blue hover:underline">Site Map</a>
                </div>

                <!-- Latest Posts Section -->
                <div class="posts">
                    <h1 class="text-xl font-bold mb-4">Latest Posts</h1>
                    <a href="#" class="block mb-2 text-secondary-grayish-blue hover:underline">
                        <span class="font-semibold">20<br>AUG</span> Important Tips for Efficient Shipping
                    </a>
                    <a href="#" class="block mb-2 text-secondary-grayish-blue hover:underline">
                        <span class="font-semibold">15<br>AUG</span> How We Ensure Fast Deliveries
                    </a>
                    <a href="#" class="block mb-2 text-secondary-grayish-blue hover:underline">
                        <span class="font-semibold">10<br>AUG</span> The Future of Marine Transport
                    </a>
                    <a href="#" class="block mb-2 text-secondary-grayish-blue hover:underline">
                        <span class="font-semibold">05<br>AUG</span> Customer Success Stories
                    </a>
                    <a href="#" class="block mb-2 text-secondary-grayish-blue hover:underline">
                        <span class="font-semibold">01<br>AUG</span> Navigating New Trade Routes
                    </a>
                </div>

                <!-- Contact Us Section -->
                <div class="contact" style="display: flex; gap: 10px;flex-direction: column;">
                    <h1>Contact Us</h1>
                    <p>Unit 4, No.235 , After Sarafraz cross road St , Motahari Ave , Tehran , IRAN</p>
                    <p>Email: info@roshandarya.com</p>
                    <p>Phone:<br /> (+98) 21 860 47 322 <br />(+98) 21 860 47 425 <br />(+98) 21 861 22 178 </p>
                    <br />
                    <!-- Social Media Links with Specific Colors -->
                    <link rel="stylesheet"
                        href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">

                    <div class="social-icons text-center">
                        <div class="social-icons space-x-4">
                            <a href="https://facebook.com" target="_blank" style="color: #4267B2;">
                                <i class="fab fa-facebook-f fa-2x"></i>
                            </a>
                            <a href="https://twitter.com" target="_blank" style="color: #1DA1F2;">
                                <i class="fab fa-twitter fa-2x"></i>
                            </a>
                            <a href="https://instagram.com" target="_blank" style="color: #C13584;">
                                <i class="fab fa-instagram fa-2x"></i>
                            </a>
                            <a href="https://linkedin.com" target="_blank" style="color: #0A66C2;">
                                <i class="fab fa-linkedin-in fa-2x"></i>
                            </a>
                            <a href="https://t.me/roshandarya" target="_blank" style="color: #0088cc;">
                                <i class="fab fa-telegram-plane fa-2x"></i>
                            </a>
                        </div>

                    </div>

                </div>
            </div>
        </section>
    </footer>



    <!--
float items    
-->
    <a href="https://wa.me/+989965595135" target="_blank" aria-label="Chat with us on WhatsApp"
        class="fixed bottom-5 right-5 bg-green-500 text-white text-3xl w-14 h-14 flex items-center justify-center rounded-full shadow-lg hover:scale-110 transition-transform duration-300">
        <i class="fab fa-whatsapp"></i>
    </a>

    <!-- quoteModal-->
    <div id="quoteModal" class="fixed inset-0 flex items-center justify-center bg-black bg-opacity-50 hidden z-10 ">

        <div class="bg-white rounded-lg w-11/12 md:w-1/2 lg:w-1/3" style="width: auto;">
            <span id="closeModal" class="text-right text-2xl cursor-pointer ml-4">&times;</span>

            <!-- مرحله اول -->
            <section id="step1">
                <form id="rate-inquiry-form"
                    class="container mx-auto px-4 flex flex-row flex-wrap gap-4 justify-center">
                    <!-- انتخاب نوع حمل و نقل -->
                    <select name="transportType" class="input-field w-full md:w-1/3 lg:w-1/5" required>
                        <option value="" disabled selected>Select Transport Type</option>
                        <option>Air Transport</option>
                        <option>Ground Transport</option>
                        <option>Sea Transport</option>
                    </select>
                    <!-- انتخاب نوع کانتینر -->
                    <select id="containerType" name="containerType" class="input-field w-full md:w-1/3 lg:w-1/5"
                        required>
                        <option value="" disabled selected>Select Container Type</option>
                        <option value="20">20 ft - Standard Container</option>
                        <option value="40">40 ft - Standard Container</option>
                        <option value="ISO">ISO Tank - Liquid Transport</option>
                    </select>
                    <!-- نوع ISO Tank -->
                    <select name="isoTankType" id="isoTankOptions" class="input-field w-full md:w-1/3 lg:w-1/5 hidden">
                        <option value="" disabled selected>Select ISO Tank Type</option>
                        <option value="T7">T7</option>
                        <option value="T1">T1</option>
                        <option value="T50">T50</option>
                    </select>
                    <!-- سایر فیلدها -->
                    <input type="number" name="quantity" placeholder="Enter Quantity" min="1" class="input-field w-full"
                        required>
                    <select id="countrySelect" name="departureCountry" class="input-field w-full md:w-1/3 lg:w-1/5"
                        required>
                        <option value="" disabled selected>Select Departure Country</option>
                    </select>
                    <select id="portsSelect" name="departurePort" class="input-field w-full md:w-1/3 lg:w-1/5" required>
                        <option value="" disabled selected>Select Departure Port</option>
                    </select>
                    <select id="destinationCountry" name="destinationCountry"
                        class="input-field w-full md:w-1/3 lg:w-1/5" required>
                        <option value="" disabled selected>Select Destination Country</option>
                    </select>
                    <select id="destinationPortsSelect" name="destinationPort"
                        class="input-field w-full md:w-1/3 lg:w-1/5" required>
                        <option value="" disabled selected>Select Destination Port</option>
                    </select>
                    <input type="email" name="email" placeholder="Email" class="input-field w-full md:w-1/3 lg:w-1/5"
                        required>
                    <input type="text" name="phoneNumber" placeholder="Phone Number"
                        class="input-field w-full md:w-1/3 lg:w-1/5" required>

                    <button id="rate-inquiry-form-sub" class="rate-button w-full md:w-1/3 lg:w-1/5" type="submit">Get
                        Rate Quote</button>
                </form>
            </section>

            <!-- مرحله دوم -->
            <section id="step2" class="py-6 hidden">
                <form id="otp-verification-form" class="container mx-auto px-4 flex flex-wrap gap-4 justify-center">
                    <p id="phone-display" class="w-full text-center text-gray-700"></p>
                    <input type="text" name="verificationCode" placeholder="Enter OTP"
                        class="input-field w-full md:w-1/3 lg:w-1/5" required>
                    <button type="submit" class="rate-button w-full md:w-1/3 lg:w-1/5">Verify OTP</button>
                    <button type="button" id="back-to-step1"
                        class="text-blue-500 underline w-full text-center mt-4">Back</button>
                </form>

            </section>
        </div>
    </div>
    <!-- float items End-->

    <!-- اسکریپت‌ها -->
    <script src="/js/quoteModel.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>


    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/js/all.min.js"></script>

    <script>
        const header = document.querySelector('header');
        const butt = document.getElementById('logo-butt');
        const mymenu = document.querySelector('.mymenu');
        const links = document.querySelectorAll('.mymenu a'); // انتخاب تمامی لینک‌ها داخل هدر

        if (header && butt && mymenu && links.length > 0) {
            window.onscroll = function () {
                if (window.scrollY > 100) {
                    header.classList.add('fixed-header');
                    if (window.innerWidth >= 600) {
                        butt.classList.add("bg-white");
                        mymenu.classList.add("bg-white");
                        eqcDropdown.classList.add("eqc-dropdownScroll");
                        servicesDropdown.classList.add("services-dropdownScroll");

                        // تغییر رنگ لینک‌ها
                        links.forEach(link => {
                            link.style.color = '#003f5c'; // آبی تیره یا هر رنگ دیگر
                        });
                    }
                } else {
                    header.classList.remove('fixed-header');
                    eqcDropdown.classList.remove("eqc-dropdownScroll");
                    servicesDropdown.classList.remove("services-dropdownScroll");


                }
            };
        }
    </script>

</body>

</html>